.testimonial-section {
    padding: 4em 0em 4em;
    // position: relative;

    h6 {
        font-size: 1rem;
        font-weight: 600;
        color: map-get($text-color, "ash");
        margin-bottom: 1rem !important;
    }

    h2 {
        font-family: $font-volkhov;
        color: map-get($text-color, "darkblueone");
        text-transform: capitalize;
    }

    .parent-div {
        padding: 2em 2em;

        .slider-content {
            text-align: left;
            padding: 1em 3em 1em 2em;
            background-color: map-get($bg-color, "white");
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
            margin: 1rem 1rem;
            border: none !important;
            border-radius: 10px;
            position: relative;

            p {
                line-height: 30px;
                font-size: 1rem;
                color: map-get($text-color, "ash");
                margin-bottom: 1rem !important;
            }

            .user {
                span {
                    font-size: 1rem;
                    font-weight: 600;
                    color: map-get($text-color, "ash");
                }

                p {
                    font-size: 0.8rem;
                    color: map-get($text-color, "ash");
                    margin-bottom: 0.5rem !important;
                }
            }

            .user-image {
                position: absolute;
                top: -30px;
                left: -30px;
                width: 60px;
                height: 60px;
            }
        }
    }


}





@media (min-width: 768px) and (max-width: 1024px) {
    .testimonial-section {
        padding: 2em 0em 2em;

        .parent-div {
            padding: 1em 1em;

            .slider-content {
             p{
                line-height: 25px;
             }
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 767.9px) {

    .testimonial-section {
        padding: 2em 0em 2em;

        .parent-div {
            padding: 1em 1em;

            .slider-content {
                padding: 1em 1em 1em 2em;
            }
        }
    }
}